<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685683837875-l6mg13k1r00kc94mqt146s1qgh5rs186.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685683837875-l6mg13k1r00kc94mqt146s1qgh5rs186</string>
	<key>API_KEY</key>
	<string>AIzaSyAov-AAp1uyY9Z-8pupaG5xzAsF15k2_1k</string>
	<key>GCM_SENDER_ID</key>
	<string>685683837875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RnFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>test-rnapp</string>
	<key>STORAGE_BUCKET</key>
	<string>test-rnapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685683837875:ios:67366d3b583e5b9b8559c6</string>
</dict>
</plist>